.calendarGridContainer{
    display: flex;
    gap: 1rem;
    min-height: 20rem;
}

.calendarContainer{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: .5rem;
}

.calendarControls {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}

.calendarControlBtn {
    font-size: min(14px, .8rem);
    border-radius: 10px;
    background: #fff;
    border: 1px solid var(--secondary-color-blue);
    font-weight: 600;
    cursor: pointer;
    color: var(--secondary-color-blue);
    padding: 10px 1.2rem;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    transition:
        background-color 0.15s ease,
        transform 0.15s ease;
}

.calendarControlBtn:hover {

    transform: scale(1.11);
}

.calendarControlBtn:active {

    transform: scale(1.05) translateY(1px);
}

.daysDisplay{
    transition:
        background-color 0.15s ease,
        transform 0.15s ease;
}

.selectedDateContainer {
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    font-size: 1rem;
    line-height: 26px;
    font-weight: 600;
    color: var(--secondary-color-blue);
    vertical-align: baseline;
    font-family: IntervalNextReg, sans-serif;
    width: fit-content;
}

.date {
    min-width: 100px;
}

.arrow {
    opacity: 0.7;
}

@media (max-width: 500px) {

    .calendarGridContainer {
        width: calc(100vw-15px);
        padding: 20px 5px;

    }

    .calendarControlBtn {
        font-size: min(14px, .8rem);
        padding: 10px .5rem;
        gap: 5px;
    }

    .daysDisplay {
        padding: 10px;
        font-size: .75rem;
    }

}