.sortBtn{
    padding: 5px;
    background: #fff;
    border: none;
    border-bottom: 2px solid var(--gray-color-3);
    text-align: center;
}

.sectionDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.fText {
    color: var(--secondary-color-blue);
    font-weight: 600;
    letter-spacing: .5px;
}

.lText{
    color: var(--gray-color-3);
    font-size: .8rem;
    letter-spacing: .5px;
}

.smContainer {
    min-width: 12vw;
    font-size: .8rem;
    font-weight: 500;
    color: #647a85;
    padding: 5px;
}

.smContainer li{
    cursor: pointer;
    margin: .5rem;
    padding: .5rem;
}

.smContainer .active {
    font-weight: 600;
}

.smContainer li:hover {
    background-color: var(--backgroud-gray);
    border-radius: 10px;
}

@media (max-width: 500px){ 

    .smContainer{
        min-width: 40vw;
    }
}