.container {
    display: grid;
    grid-template-columns: 1fr .8fr .5fr .3fr .3fr 1fr .4fr;
    width: auto;
    padding: 10px min(var(--desktop-margin), var(--mobile-margin));
    border: 1px solid #ccc;
    gap: 10px;
    min-height: 65px;
    position: sticky;
    top:0;
    z-index:11;
    background: #fff;
}

.base{
    position: relative;
}

.base .searchLabel {
    position: absolute;
    top: 55%;
    left: 10px;
    transform: translateY(-50%);
}

.base .searchInput, .base .selectorBtn {
    font-size: min(14px, .8rem);
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: #fff;
    border: 1px solid #647a85;
    font-weight: 600;
    cursor: pointer;
}

.base .selectorBtn:hover {
    background-color: var(--backgroud-gray);
}

.btnBaseClass{
    color: #647a85;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.btnBaseClass span {
    display: inline-block;
}

.default {

}

.alt {
    border-color: var(--secondary-color-blue);
    color: var(--secondary-color-blue);
}

.search .searchInput {
    padding: 10px 40px;
}

.noDesktop{
    display: none;
}

@media (max-width: 1000px) {

    .container {
        grid-template-columns: 1fr .6fr .5fr .3fr .3fr 0fr .4fr;
    }
}

@media (max-width: 800px) {

    .container {
        grid-template-columns: 2fr 1fr;
    }

    .item3 {
        grid-column: 1 / -1
    }

    .noDesktop{
        display: block;
    }
      
    .hide {
        display: none !important;
    }

    .btnBaseClass{
        align-items: center;
        justify-content: center;
    }

    .base input, .base .selectorBtn{
        width: 100%;
    }
}

@media (max-width: 500px){

    .container {
        grid-template-columns: 2fr 1fr;
        padding: 10px 5px;
    }
    .hide {
        display: none;
    }
    .base input, .base .selectorBtn{
        width: 100%;
        min-height: 30px;
    }

    .btnBaseClass{
        gap: 10px;
    }

    .search {
        display: flex;
    }

    .search input {
        padding: 10px 40px;
    }
}