.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px min(var(--desktop-margin), var(--mobile-margin));
    position: relative;

    background: #fff;
    z-index: 12;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo{
    display: flex;
    align-items: center;
}

.mobileLogo{
    display: none;
}

.details {
    display: flex;
    align-items: center;
    cursor: pointer;
    animation: slideDown 0.3s ease-in-out;
}

.details.hidden {
    animation: slideUp 0.3s ease-in-out;
    display: none;
}

.details li:first-child{
    margin-right: 10px;

}

.details li:last-child{
    background: var(--secondary-color-blue);
    padding: 8px;
    border-radius: 20px;
    color: #fff;
    font-weight: 600;
}

.coa{
    display: flex;
    align-items: center;
}

.coa li {
    padding: 0px 8px;
}

.coa li:hover {
    background: var(--backgroud-gray);
    border-radius: 10px;
}

.languageSelector {
    position: relative;
    display: inline-block;
}

.button {
    display: inline-flex;
    align-items: center;
    background: none;
    border: none;
    font-size: 16px;
    font-family: inherit;
    cursor: pointer;
    color: inherit;
    padding: 8px 12px;
    border-radius: 4px;
}

.icon {
    margin-left: 5px;
}

.menuDropDown{
    padding: .5rem;
    min-width: max(20vw, 200px);
    color: #647a85;
    font-size: .85rem;
    animation: fadeIn 0.5s ease-in forwards;
}

.menuDropDown hr {
    color:#647a85
}

.menuDropDown li{
    cursor: pointer;
    margin: 1rem;
    padding: .5rem;
}



@media (max-width: 800px) {

    .details {
        display: none;
    }

    .button {
        padding: 5px;
        font-size: .8rem;
    }
}

@media (max-width: 500px) {
    
    .refBtn {
        display: none;
        animation: slideUp 0.3s ease-in-out;
    }

    .mainLogo{
        display: none;
    }

    .mobileLogo{
        display: block !important;
    }

    .container{
        padding: 0px 5px;
    }
}

@keyframes slideDown {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(-20px);
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}