.formGrid {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 1.5rem;
    line-height: 1.5rem;
    color: var(--dark-font-gray);
    font-size: 1rem;
}

.headerGroup {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerGroup a {
    text-decoration: underline;
    color: var(--secondary-color-blue);
}

.formGroup {
    display: flex;
    flex-direction: column;
}

.formGroup label {
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    font-size: clamp(0.875rem, 1.5vw, 1rem);
}

.formGroup span {
    margin: .5rem 0;
    line-height: 1.5rem;
}

.formGroup input,
.formGroup select,
.formGroup button,
.headerGroup button,
.formGroup textarea {
    padding: 0.75rem;
    border: 1px solid var(--border-grey);
    border-radius: 10px;
    font: inherit;
}

.formGroup button {
    cursor: pointer;
    background: transparent;
    transition: background-color 0.15s ease, transform 0.15s ease;
}

.headerGroup button {
    cursor: pointer;
    background: transparent;
    display: flex;
    align-items: center;
    gap: 5px;
    min-width: 5.5rem;
    transition: background-color 0.15s ease, transform 0.15s ease;
}

.redButton button {

    color: var(--dark-red);
    border: 1px solid var(--dark-red);

}

.headerGroup button,
.formGroup button:hover {
    opacity: 0.7;
    /* background-color: var(--third-color-blue); */
    transform: scale(1.09);
}

.headerGroup button,
.formGroup button:active {
    /* background-color: var(--third-color-blue); */
    transform: scale(1.05) translateY(1px);
}

.blueButton button{
    display: flex;
    align-items: center;
    min-width: 3rem;
    color: var(--secondary-color-blue);
    border: 1px solid var(--secondary-color-blue);
}



.formGroup input:hover, .formGrid select:hover, .formGroup input[type=radio]:hover {
    background-color: var(--five-blue);
}

.formGroup.full {
    grid-column: span 4;
}

.formGroup.half {
    grid-column: span 2;
}

.formGroup.quarter {
    grid-column: span 1;
}

.headerGroup.full {
    grid-column: span 4;
}

.formGroup input[type=radio] {
    appearance: none;
    width: 24px;
    height: 24px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(34, 66, 81);
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    background-color: white;
    transition: all 0.2s ease;
    
}

.formGroup input[type=radio]:checked {
    border-color: rgb(34, 66, 81);
    background-color: white;
}

.formGroup input[type=radio]:checked::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 12px;
    background-color: rgb(34, 66, 81);
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.formGroup fieldset{
    border: none;
    margin: 0;
    padding: 0;
    min-width: 0;
    height: 100%;
}

.formGroup fieldset div{
    display: flex;
    gap: 10px;
    height: 100%;
}
.formGroup fieldset div div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
}


.formGroup legend {
    margin-bottom: 0.5rem;
    font-weight: 600;
}

.optional {
    font-weight: 400;
    font-size: 0.9em;
    opacity: 0.8;
    margin-left: 0.25rem;
}

.subFormGrid{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 1.5rem;
    width: 100%;
    grid-column: span 4;
    transition: max-height 0.3s ease-out, opacity 0.3s;
    opacity: 1;
    max-height: 100vh;
}

.subFormGrid.hide {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
}

.icon{
    fill: currentColor
}


@media (max-width: 1000px) {
    .formGrid, .subFormGrid {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        line-height: 1.5rem;
        color: var(--dark-font-gray);
        font-size: 1rem;
    }
}
