.formGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    line-height: 1.5rem;
    color: var(--dark-font-gray);
    font-size: 1rem;
}

.headerGroup {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerGroup a {
    text-decoration: underline;
    color: var(--secondary-color-blue);
}

.formGroup {
    display: flex;
    flex-direction: column;
}

.formGroup label {
    font-weight: 600;

}

.formGroup span {
    margin: .5rem 0;
    line-height: 1.5rem;
}

.formGroup input,
.formGroup select,
.formGroup button,
.headerGroup button,
.formGroup textarea {
    padding: 0.75rem;
    border: 1px solid var(--border-grey);
    border-radius: 10px;
    font: inherit;
}

.formGroup button,
.headerGroup button{
    cursor: pointer;
    background: transparent;
    
}

.formGroup input:hover {
    background-color: var(--five-blue);
}

.formGroup.full {
    grid-column: span 4;
}

.formGroup.half {
    grid-column: span 2;
}

.formGroup.quarter {
    grid-column: span 1;
}

.headerGroup.full {
    grid-column: span 4;
}

.formGroup input[type=radio] {
    appearance: none;
    width: 24px;
    height: 24px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(34, 66, 81);
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    background-color: white;
    transition: all 0.2s ease;
    
}

.formGroup input[type=radio]:checked {
    border-color: rgb(34, 66, 81);
    background-color: white;
}

.formGroup input[type=radio]:checked::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 12px;
    background-color: rgb(34, 66, 81);
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.formGroup fieldset{
    border: none;
    margin: 0;
    padding: 0;
    min-width: 0;
    height: 100%;
}

.formGroup>fieldset>div{
    display: flex;
    gap: 10px;
    height: 100%;
}
.formGroup > fieldset > div > div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
}


.formGroup legend {
    margin-bottom: 0.5rem;
    font-weight: 600;
}

.optional {
    font-weight: 400;
    font-size: 0.9em;
    opacity: 0.8;
    margin-left: 0.25rem;
}
