.listingContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

@media (max-width: 800px) {

    .listingContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
    }

    .mapHide{
        position: absolute;
        visibility: hidden;
    }



    .hide{
        visibility: visible;
    }
}

@media (max-width: 600px) {

    .listingContainer{
        grid-template-columns: 1fr;
    }
}