.bedroomAdmenities{
    cursor: default;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.baListItem{
    display: flex;
    align-items: center;
    gap: 5px;
}

.baInfo{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.baBedRoomText{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.baHeader{
    font-size: 1.2rem;
}

.baSmallTxt{
    font-size: .9rem;
}
