.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 5vh min(var(--desktop-margin), var(--mobile-margin));
    color: var(--dark-font-gray);
}

.containerSplit{
    display: flex;
    gap: 3rem;
}

.left {
    display: flex;
    flex-direction: column;
    flex: 2.5;
    gap: 1rem;
    margin-left: 5rem;
}

.right{
    display: flex;
    flex-direction: column;
    flex: 1.2;
    margin-right: 5rem;
    gap: 1rem;

}

.blue{
    color: var(--secondary-color-blue)
}

.moveCoa {
    position: relative;
    display: grid;
    grid-template-columns: 1fr .3fr 1fr;
    gap: 5px
}

.btnContainer {
    height: 8vh;
    position: relative;
    cursor: not-allowed;
}

.btnLabel {
    position: absolute;
    padding: 10px;
    font-size: .9rem;
    color: var(--gray-color-2);
    cursor: not-allowed;
}

.arrowContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.fakeInput {
    cursor: not-allowed;
    border: 1px solid var(--border-grey);
    width: 100%;
    height: 100%;
    min-height: 3.5rem;
    padding: 10px;
    border-radius: .5rem;
    display: flex;
    justify-content: flex-start;
    background-color: transparent;
    align-items: flex-end;
    font-size: 1rem;
    color: var(--dark-font-gray);

}

/* price details */
.priceBreakDown{
    display: flex;
    justify-content: space-between;

    letter-spacing: .5px;
    margin: .7rem 0;
}

.smallFont{
    font-size: .9rem;
}

.bigFont{
    font-size: 1.2rem;
}

.fontBold {
    font-weight: 600;
}

.disclaimerText {
    text-align: center;
    margin: .7rem 0;
    font-size: 0.875rem;
    line-height: 1.125rem;
    color: rgb(100, 122, 133)
}

.reviewBtn{

    width: 100%;
    background: none;
    border: none;
    padding: 12px 0;
    font-size: 1rem;
    cursor: pointer;
    color: rgb(100, 122, 133)
        
}

.reviewBtn:hover {
    background: var(--five-blue);
    border-radius: 1rem;
}


/* coupon div */
.inlineDiv {
    display: flex;
    gap: 1rem
}

.inlineDiv input {
    flex: 2.5;
    padding: 0.75rem;
    border: 1px solid var(--border-grey);
    border-radius: 10px;
    font: inherit;
}

.inlineDiv input::placeholder {
    color: var(--border-grey)
}

.inlineDiv button {
    flex: 1.5;
    border: 1px solid var(--third-color-blue);
    color: var(--third-color-blue);
    border-radius: 10px;
    background-color: transparent;
    cursor: pointer;
}

.promoCodeHeader {
    display: flex;
    align-items: center;
    gap: 5px;
}


/* form */
.imageContainer {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 10px;
}

.listingDetails{
    display: flex;
    flex-direction: column;
    padding: 20px 12px;
    border-radius: 12px;
    border: 1px solid var(--light-gray);
    width: 100%;
    gap: 15px;
}

.verifications{
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    padding: 0;
    margin: 0;
    list-style: none;
}

.verifications li{
    line-height: 1rem;
    padding: 8px 10px;
    background-color: var(--primary-green);
    border-radius: 20px;
    color: #fff;
    font-weight: 600;
    font-size: clamp(0.875rem, 1.5vw, .9rem);
    flex: 0 0 auto;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.title {
    font-size: 22px;
    line-height: 26px;
}

.address {
    display: flex;
    align-items: center;
    gap: 8px;
}

@media (max-width: 1300px) {
    .left {
            margin: 0;
        }
    
    .right {
        margin: 0;
    }
}

@media (max-width: 1000px) {

    .containerSplit {
        flex-direction: column;
    }
}

@media (max-width: 600px) {
    .formGrid {
        grid-template-columns: 1fr;
    }

    .formGroup.full,
    .formGroup.half {
        grid-column: span 1;
    }
}