
.sectionContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.headerTitle{
    font-size: 2.3rem;
    color: var(--font-black)
}

.subHeader{
    color: #788392;
    font-weight: 400;
    letter-spacing: 1px;
}

.formGrid {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.formGroup {
  display: flex;
  flex-direction: column;
}

.formGroup label {
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.formGroup input {
  padding: 10px;
  font-size: 1rem;
  height: 3rem;
  border: 2px solid #d1d5da;
  border-radius: 4px;
}

.formGroup .select {
  padding: 10px;
  font-size: 1rem;
  height: 3rem;
  border: 2px solid #d1d5da;
  border-radius: 4px;
  background-color: white;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg fill="%23333" height="20" viewBox="0 0 24 24" width="20" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 1rem;
}


.formGroup textarea{
  padding: 10px;
  font-size: 1rem;
  height: 7rem;
  border: 2px solid #d1d5da;
  border-radius: 4px;
}

/* Row with two inputs side-by-side */
.formGroupRow {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}


.inputWrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

.inputWrapper input {
  width: 100%;
  padding-right: 2.5rem; /* space for unit */
  box-sizing: border-box;
}

.inputUnit {
  position: absolute;
  right: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  color: var(--font-black);
  font-size: 0.95rem;
  pointer-events: none;
}

.cbLabel{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.checkbox{
  height: 1.2rem;
  width: 1.2rem;
}

.selectGrid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
}



/* file upload*/
.uploadContainer {
  position: relative;
  width: 100%;
  height: 300px;
  border: 2px dashed #ccc;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
  cursor: pointer;
  flex-direction: column;
  overflow: auto;
}

.addPhotoButton {
  background-color: #007bff;
  color: white;
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.addPhotoButton:hover {
  background-color: #0056b3;
}

.previewGallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
  justify-content: center;
}

.previewImage {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 6px;
  border: 1px solid #ddd;
}

.imageWrapper {
  position: relative;
  display: inline-block;
  margin: 8px;
}



.deleteButton {
  position: absolute;
  top: -5px;
  right: -10px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}

.deleteButton:hover {
  background-color: darkred;
}