.calendar {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    opacity: 0;
    animation: fadeIn 0.5s ease-in forwards;
    gap: 1rem;
}

.calendarHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    margin-bottom: 10px;
}

.prevMonth, .nextMonth{
    background: #fff;
    border: none;
    cursor: pointer;
    width: none !important;
}

.calendarGrid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.month_year{
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--dark-font-gray);
}

.weekday {
    text-align: center;
    font-weight: 500;
    color: var(--gray-color-3);
    padding: 15px;
}

.day {
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    background: #fff;
}

.none {
    border: none;
    background: #fff;
}

.strikeThrough{
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    text-decoration: line-through;
    cursor: pointer;
    border: none;
    background: #fff;
    opacity: 0.5;
    cursor: not-allowed;
}

.day:hover {
    background: var(--third-color-blue);
}

.active {
    background-color: var(--third-color-blue);
    border: 1px solid var(--secondary-color-blue);
    padding: 15px;
}

.highlight{
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    background-color: var(--five-blue);
    border: 1px solid var(--secondary-color-blue);

}

.queryHolder{
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.queryBtn {
    font-size: min(14px, .8rem);
    border-radius: 10px;
    background: #fff;
    border: 1px solid var(--secondary-color-blue);
    font-weight: 600;
    cursor: pointer;
    color: var(--secondary-color-blue);
    padding: 10px 1.2rem;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.totalDaysText{
    padding: 10px;
    font-size: .8rem;
}

.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

@media (max-width: 500px){

    .calendar {
        width: calc(100vw - 15px);
        padding: 20px 5px;
        
    }

    .calendarGrid{
        grid-template-columns: repeat(7, minmax(40px, 1fr));
        gap: 2px;
    }

    .queryBtn {
        font-size: min(14px, .8rem);
        padding: 10px .5rem;
        gap: 5px;
    }
    
    .totalDaysText{
        padding: 10px;
        font-size: .75rem;
    }
    
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}