.btnBaseClass {
    padding: 0.75rem;
    border: 1px solid var(--border-grey);
    border-radius: 10px;
    font: inherit;
    transition: background-color 0.15s ease, transform 0.15s ease;
}

.btnBaseClass:hover {
    opacity: 0.7;
    transform: scale(1.09);
}

.btnBaseClass:active {
    transform: scale(1.05) translateY(1px);
}

.red {
    color: var(--primary-red);
    border: 1px solid var(--primary-red);
}

.blue{
    color: var(--secondary-color-blue);
    border: 1px solid var(--secondary-color-blue);
}
