.textContainer {
    position: relative;
    padding-bottom: 2.5rem;
}

.bedroomAdmenities{
    cursor: default;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.baListItem{
    display: flex;
    align-items: center;
    gap: 5px;
}

.aiButton {
    position: absolute;
    bottom: .5rem;
    right: 1rem;
}

.aiButton button {
    position: relative;
    background: none;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.tooltip {
    white-space: nowrap;
    overflow: hidden;
    max-width: 0;
    opacity: 0;
    transition: max-width 0.4s ease, opacity 0.3s ease;
    margin-left: 0.5rem;
    color: #333;
    font-size: 0.875rem;
}


.aiButton button:hover .tooltip {
    max-width: 200px;
    opacity: 1;
}