

:root{
  --primary-color-blue: #387AFF;
  --secondary-color-blue: rgb(0, 173, 239);
  --third-color-blue:rgb(102, 213, 255);
  --gray-color: #4D4D4D;
  --gray-color-2: rgb(100, 122, 133);
  --backgroud-gray: rgb(246, 246, 246);
  --gray-color-3: #647A85;
  --mobile-margin: 1.5rem;
  --desktop-margin: 8%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
}

a{
  text-decoration: none;
  color: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}