@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');



legend {
  all: unset;
}

:root{
  --primary-color-blue: #387AFF;
  --secondary-color-blue: rgb(0, 173, 239);
  --third-color-blue:rgb(102, 213, 255);
  --four-blue: rgb(172, 232, 255);
  --five-blue: rgb(236, 247, 252);
  --gray-color: #4D4D4D;
  --gray-color-2: rgb(100, 122, 133);
  --backgroud-gray: rgb(246, 246, 246);
  --light-gray:rgb(228, 234, 237);
  --border-grey: rgb(188, 198, 202);
  --pink-color: rgb(255, 102, 178);
  --dark-font-gray:rgb(34, 66, 81);
  --gray-color-3: #647A85;
  --mobile-margin: 1.5rem;
  --desktop-margin: 8%;
  --primary-green: rgb(68, 196, 130);
  --secondary-green: rgb(20, 174, 92);
  --light-green-background:rgb(230, 254, 240);
  --third-green: #4fcc94;
  --primary-red: rgb(255, 206, 195);
  --font-grey: #798797;
  --font-black: #224251;
  
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

html {
  scroll-padding-top: 140px; 
  scroll-behavior: smooth;
}


a{
  text-decoration: none;
  color: inherit;
}

body {
  max-width: 2000px;
  width: 100%;
  margin: 0 auto;
  
  font-family: 'Lato', sans-serif;
}

.mapboxgl-popup{
  background: none;
  box-shadow: none;
}

.mapboxgl-popup-content {
  background: none;
  padding: 0 !important;
  margin: 0;
  box-shadow: none;
  border-radius: 15px !important;
  color: inherit;
  font: inherit;
  max-width: none;
}

.mapboxgl-popup-tip {
  display: none;
}

hr{
  border: .5px solid var(--light-gray);
}

.dark body {
	background-color: #121212;
	color: white !important;
}

.dark input, select, textarea, #formSidebar {
  background-color: #121212 !important;
  color: white !important;
}

.dark button{
  color: var(--dark-font-gray);
}

#footer, #navbar, #infobar, #nattynav {
  background-color: #121212;
  color: var(--dark-font-gray);
  border: 1px solid #121212;
}