.map {
    height: 100%;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto; 
    position: relative;  
}

.mapboxgl-map {
    max-width: 1200px !important;
    margin: 0 auto;
}

.marker {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 14px;
    border: 1px solid lightgray;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    padding: 5px 10px;
    width: auto;
    height: auto; 
    cursor: pointer;
    position: relative;
}



.marker:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    z-index: 1;
}


.mapRefContainer{
    width: 600px !important;
}

@media (max-width: 600px) {
    .mapRefContainer {
        width: 100% !important;
    }
}