.gridDates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.weekday {
    text-align: center;
    font-weight: 500;
    color: var(--gray-color-3);
    padding: .5rem;
    min-width: 3rem;
}

.none {
    border: none;
    background: #fff;
}

.caption{
    display: flex;
    justify-content: center;
    position: relative;
}

.monthDisplay{
    font-size: 1.2rem;
}

.switchBtn{
    height: 100%;
    background-color: #fff;
    border: none;
    cursor: pointer;

    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-size: 1rem;
    transition:
        background-color 0.15s ease,
        transform 0.15s ease;
    border-radius: 50%;
}

.switchBtn:hover {
    background-color: #e5e5e5;
    transform: scale(1.15);
}

.switchBtn:active {
    background-color: #d5d5d5;
    transform: scale(1.05) translateY(1px);
}

.toggleBtnL{
    position: absolute;
    left: 0;

}

.toggleBtnR{
    position: absolute;
    right: 0;
}


.slide {
    animation: slideMonth 0.3s ease;
}

@keyframes slideMonth {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@media (max-width: 700px) {

    .calendarTable{
        width: 100%;
    }
    .gridDates {
        grid-template-columns: repeat(7, minmax(40px, 1fr));
        gap: 5px;
    }
}