.split {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.split > div:first-child {
    overflow-y: auto;
    height: 100%; 
}

.split > div:last-child {
    height: 100%; 
    overflow: hidden;
}