.parentStyles {
    display: flex;
    height: 90vh;
    overflow-y: hidden;
}

.split{
    display: flex;
    width: 100%;
    flex:1;
}

.article{
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
}

.siderBar{
    flex: 0 0 30%;
    background-image: linear-gradient(to right, #fafafa, #f3f3f3);
}

.form {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0
}

.scrollableContent {
    flex: 1;
    min-height: 0;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 2rem;
}

.footerNav {
    flex: 0 0 auto;
    position: sticky;
    bottom: 0;
    background: white;
    border-top: 1px solid #eee;
    padding: 1rem;
}
