.container{
   display: flex;
   
}

.container li {
    margin-right: .5em;
    font-size: 13px;
    font-weight: 400;
    color: var(--secondary-color-blue);
    letter-spacing: .5px;
}

.carrot{
    color: var(--gray-color-3) !important;
}