.shareAdmenities{
    display: flex;
    gap: 1rem;
    overflow-x: scroll;
        scroll-snap-type: x mandatory;
    
}

.liContainer {
    scroll-snap-align: start;
    flex-shrink: 0;
}

.shareAdmenImage {
    position: relative;
    aspect-ratio: 4/3;
    width: 15rem;
    
}

.listImage{
    border-radius: 20px;
}


